
	$primary-blue: hsl(218, 28%, 13%);
  $footer-blue: hsl(216, 53%, 9%);
  $intro-blue: hsl(217, 28%, 15%);
  $testimonials-blue: hsl(219, 30%, 18%);
  $blue: hsl(198, 60%, 50%);
  $button-green: hsl(176, 68%, 64%);
  $error-red: hsl(0, 100%, 63%);
	$text-color: hsl(0, 0%, 100%);
  $mobile: 375px;