body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6em;
  background: #181f2a;
  color: white;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.6em;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1em;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

a {
  color: white;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

li {
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  padding-bottom: 15px;
}

.intro {
  background-color: #1c2431;
  padding: 0;
}

#getStartedSection {
  margin-bottom: 15%;
}

#waves {
  background-image: url("../images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: 100% 110%;
}

.centered {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.centeredButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.greenButton {
  background: #65e2d9;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border: none;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.clearFix {
  clear: both;
}

#mainNav li {
  display: inline;
  padding: 3%;
  float: right;
}

#mainNav li:hover {
  text-decoration: underline;
}

#navHeader {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

#navHeader img {
  float: left;
}

#whyChooseUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-left: 15%;
  margin-right: 15%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.whySection {
  width: 35%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

#productiveImg {
  width: 90%;
  height: 90%;
}

#stayProductive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

#stayProductiveText {
  text-align: left;
  margin-top: 100px;
  margin-left: 5%;
}

#linkLine {
  display: inline-block;
}

#linkLine:hover a, #linkLine:hover i {
  text-decoration: none;
  color: #339ecc;
}

#linkLine:hover hr {
  display: block;
  border: 1px solid #339ecc;
}

hr {
  display: none;
}

#quote {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

#quotesSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
}

.quoteLogo {
  position: absolute;
}

.quoteBlock {
  text-align: left;
  padding: 7%;
  margin: 2%;
  background-color: #202a3c;
}

.quotePic {
  width: 20%;
  height: 20%;
  border-radius: 50%;
}

.nameSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.name {
  font-size: 12px;
  font-weight: 700;
  margin: 0 0 0 10px;
  padding: 0;
}

.title {
  font-size: 8px;
  padding: 0;
  margin: 0 0 0 10px;
}

#email {
  width: 70%;
  text-align: center;
  padding-top: 3%;
  margin-left: 15%;
  position: relative;
  top: 110px;
}

#emailForm {
  width: 100%;
  background-color: #1c2431;
  padding-top: 3%;
  padding-bottom: 20px;
}

#emailText {
  width: 70%;
  padding-left: 15%;
}

#emailInput {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border: none;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 30px;
  margin: 20px 30px 0px 20px;
}

#invalidEmailMessage {
  color: #ff4242;
  font-size: 12px;
  font-weight: 700;
  margin: 0;
  padding-left: 20%;
  text-align: left;
}

#email:invalid {
  background-color: #ff4242;
  content: "Please enter a valid email address";
}

.inputBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3%;
  padding-left: 10%;
  padding-right: 10%;
}

#inputSection {
  margin: 0;
}

#getStarted {
  height: 40px;
  padding: 10px 20px;
  width: 200px;
}

footer {
  background-color: #0b1523;
  padding-top: 200px;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
}

#footerSection {
  display: -ms-grid;
  display: grid;
  Grid-template-columns: 25% 25% 15% 20% 15%;
  padding-top: 30px;
}

.fab {
  height: 10px;
  width: 10px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 50%;
  padding: 8px 9px 9px 7px;
  margin: 5px;
}

.fab:hover {
  color: #65e2d9;
  border: 2px solid #65e2d9;
}

.iconRight {
  padding-right: 15px;
}

#footerDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#locationIcon {
  padding-top: 20px;
  padding-right: 20px;
}

.footerContacts li:hover {
  text-decoration: none;
  font-weight: 700;
}

@media (max-width: 375px) {
  #navHeader {
    width: 100%;
    float: none;
    border: none;
    padding: 30px;
  }
  #logoImg {
    width: 30%;
    height: 20%;
  }
  .intro {
    width: 100%;
  }
  #getStartedSection {
    width: 100%;
    margin: 15%;
  }
  #waves {
    background-image: url("../images/bg-curvy-mobile.svg");
    background-repeat: no-repeat;
    background-position: 100% 110%;
  }
  .centered {
    width: 100%;
  }
  #whyChooseUs {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 30px;
  }
  .whySection {
    width: 90%;
    padding-bottom: 30px;
  }
  .whyImg {
    padding-bottom: 20px;
  }
  #stayProductive {
    width: 100%;
    display: block;
    float: none;
    border: none;
    margin: 0;
    padding: 30px;
  }
  #productiveImg {
    width: 100%;
    height: 100%;
  }
  #stayProductiveText {
    margin: 0;
  }
  #linkLine:hover {
    width: 40%;
  }
  #quote {
    width: 100%;
    margin: 0;
    padding: 40px;
  }
  .quoteLogo {
    width: 30%;
    height: 25%;
  }
  #quotesSection {
    width: 100%;
    top: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .quoteBlock {
    margin: 0 0 30px 0;
  }
  .quotePic {
    width: 10%;
    height: 10%;
  }
  #email {
    width: 100%;
    padding: 30px;
    margin: 0;
  }
  #email h1 {
    font-size: 18px;
  }
  #emailform {
    width: 100%;
  }
  #emailText {
    text-align: center;
    padding: 0;
    margin: 20px 30px 0px 30px;
    width: 80%;
  }
  .inputBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 3%;
    margin: 20px 30px 0px 30px;
  }
  #invalidEmailMessage {
    display: none;
  }
  #emailInput {
    width: 45%;
    font-size: 14px;
    border-radius: 30px;
    margin: 20px 40px 0px 30px;
  }
  #getStarted {
    margin: 20px 40px 0px 30px;
  }
  footer {
    width: 100%;
  }
  #footerSection {
    width: 100%;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    Grid-template-rows: 18% 18% 23% 23% 18%;
  }
  #footerLogo {
    width: 175px;
    height: 50px;
  }
  #footerDescription {
    width: 80%;
  }
  #contactSection ul {
    padding-left: 0;
  }
  .footerContacts ul {
    padding-left: 0;
  }
  #footerContact {
    padding-bottom: 300px;
  }
  #social {
    padding-left: 30%;
  }
}
